a:hover {
  background-color: turquoise;
}

#about a:hover {
  background-color: turquoise;
  shape: circle;
  padding: 35px;
}
.bg-1 {
  background-color: #90EE90;  /* Light Green */
  color: #ffffff; /* White */
}

.bg-2 {
  background-color: #228B22; /* Forest Green */
  color: #ffffff; /* White */
}

.bg-3 {
  background-color: #F0FFFF; /* azure  */
  color: #555555;
}

.bg-4 {
  background-color: #000080; /* Navy */
  color: #FFFACD; /* lemon Chiffon */
}

body {
  margin-top: 65px;
  font-family: 'Proza Libre', sans-serif;
  line-height:  2.0;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  color: 	#4B0082; /* Indigo */
}

h2 {
  font-family: 'Trirong', serif;
  font-weight: bold;
  color: 	#483D8B; /* Indigo */
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #4B0082;
}

i .fa {
  padding: 25 px;
}

img {
  padding: 15px;
}

footer {
  width: 100%;
}

.margin {
  margin-bottom: 20px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-family: 'Rubik', sans-serif
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-brand {
  font-family: "Eczar", serif;
  font-style: italic;
  font-weight: "bold";
}

.navbar-nav  li a:hover {
  font-family: 'Eczar', serif;
  color: #1abc9c !important;
}

p {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-size: 16px;
}

#toolkit .fa {
  padding-right: 160px;
  font-size: 100px;
}
